 #adm_text_box{
 	border:0 none;
 	text-align:center;
	color:red;
	font-weight:bolder;
}

.horizontal_line{
	border-top: 1px solid #b8860b;
	background-color:#b8860b;
}

#text_area{
	padding:10px;
	border: groove 6px #f5f5dc;
}

#index_wrapper{
    border-radius:3px;
    border-style: outset;
    border-color: #00ff00;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 10px 10px #f5f5f5;

}

.h_6_1{
    color: #3cb371;
    font-weight:800;
    text-shadow: 1px 1px #ffd700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;

}



#all_user_div{
    border-radius:3px;
    border-style: outset;
    border-color: #ffd700;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 10px 10px #f5f5f5;
}

.h_6_2{
    color: #ffd700;
    font-weight:800;
    text-shadow: 1px 1px #ff0000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;


}

#all_info{
    border-radius:3px;
    border-style: outset;
    border-color: #6495ed;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 10px 10px #f5f5f5;
}

.h_6_3{
    color: #6495ed;
    font-weight:800;
    text-shadow: 1px 1px #ff0000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;

}


#all_activities{
    border-radius:3px;
    border-style: outset;
    border-color: #db7093;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 10px 10px #f5f5f5;
}


.h_6_4{
    color: #db7093;
    font-weight:800;
    text-shadow: 1px 1px #0000ff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;

}

.sample_table{
    height:70px;
    /*width:100%;*/
    margin-right:auto;
    margin-left:auto;
}


.sample_table_td{
   /* height:50px;*/
}
.sample_table_tr{
    height:70px;
}

.table_all_info_work{
    height:70px;
}

.table_all_info_work_tr{
    height:70px;
}

.table_all_info_work_td{
    ;
}

.submit_button{
    background-color:white; /*#66cdaa;*/
    /*border-radius:3px;
    border-style: ouset;*/
    border-color: white; /*#8fbc8f;*/
    /*color:white;
    box-shadow: 2px 2px #dc143c;*/
    background-image:url("submit-btn.png");
    background-size: cover;
    height:40px;
    width:80px;
    background-repeat: no-repeat;
    color: transparent;
}

.submit_button:hover{
     height:30px;

}


.save_button{
    background-color:white; /*#66cdaa;*/
    /*border-radius:3px;
    border-style: ouset;*/
    border-color: white; /*#8fbc8f;*/
    /*color:white;
    box-shadow: 2px 2px #dc143c;*/
    background-image:url("save-btn.png");
    background-size: cover;
    height:40px;
    width:80px;
    background-repeat: no-repeat;
    color: transparent;
}

.save_button:hover{
     height:30px;

}


.show_button{
    background-color:white; /*#66cdaa;*/
    /*border-radius:3px;
    border-style: ouset;*/
    border-color: white; /*#8fbc8f;*/
    /*color:white;
    box-shadow: 2px 2px #dc143c;*/
    background-image:url("show-btn.png");
    background-size: cover;
    height:40px;
    width:80px;
    background-repeat: no-repeat;
    color: transparent;
}

.show_button:hover{
     height:30px;

}

.hide_button{
    background-color:white; /*#66cdaa;*/
    /*border-radius:3px;
    border-style: ouset;*/
    border-color: white; /*#8fbc8f;*/
    /*color:white;
    box-shadow: 2px 2px #dc143c;*/
    background-image:url("hide-btn.png");
    background-size: cover;
    height:40px;
    width:80px;
    background-repeat: no-repeat;
    color: transparent;
}

.hide_button:hover{
     height:30px;
}




/*
.save_button{
    background-color:#1e90ff;
    border-radius:3px;
    border-style: ouset;
    border-color: #87cefa;
    text-shadow: 1px 1px #ffff00;
    color:white;
    box-shadow: 1px 1px #dc143c;

}

.save_button:hover{
    color:red;
}

*/

.button_table{
     float:right;
     width:100px;
}

/*
.show_button{
    background-color:white;
    border-radius:3px;
    border-style: ouset;
    border-color: #8fbc8f;
    text-shadow: 1px 1px #ffff00;
    color:white;
    box-shadow: 1px 1px #dc143c;

}

.show_button:hover{
    color:red;
}
*/
/*
.hide_button{
    background-color:white;
    border-radius:3px;
    border-style: ouset;
    border-color: #f5f5f5;
    text-shadow: 1px 1px #ffff00;
    color:white;
    box-shadow: 1px 1px #dc143c;
}

.hide_button:hover{
    color:red;
}
*/

/*
.info_table{
    background-color:#87cefa;
    border-radius:3px;
    border-style: ouset;
    border-color: #f5fffa;
    color:#a9a9a9;
    width:700px;

}
*/

.display_table{
    margin-left:auto;
    margin-right:auto;
    color:#696969;
}

.label_par{
    color:#dc143c;
    font-weight:600;
}

.label_par1{
    font-weight:700;
    color:#4169e1;
}

#select_box1, #select_box2{
    border:1px dashed #0000ff;
    border-radius:2px;
}