body{
	;
}

/*---------------------------------------------------*/
/*-------------------     input area  -----------------*/

#h_6{
	;
	}


#h_6{
    color: #90ee90;
    font-weight:800;
    text-shadow: 1px 1px #ff7f50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;

}

#no_copy_paste{
	font-size:xx-small;
	color:#191970;
	line-height:0.2;
}

#text_box{
	border:0 none;
	text-align:center;
	color:red;
	font-weight:bolder;
}

#text_area{
	padding:10px;
	border-radius:5px;
	border:1px solid #4169e1;
}

#wrapper{
	width:738px;
	margin-top:-20px;
    border-radius:3px;
    border-style: outset;
    border-color: #f0f8ff;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 15px 15px #e6e6fa;

}

#left{
	/*float:left;*/
	width:auto;
	position:relative;
	top:0px;
	left:0px;

	}

#form{
	float:right;
	width:150px;
	position:relative;
	top:-65px;
	right:12%;
	/*bottom:50px;*/
	display:block;
}

#label_new_win{
	width:60px;
	height:70px;
	/*float:left;*/
	}

#label_new_win1{
	border-color:white;
	/*width:1px;
	height:1px;
	float:left;*/
	}

.form_table{
	height:70px;
}

.form_table_tr{
	height:70px;
	line-height:70px;
	vertical-align:middle;
}

.form_table_td{
	vertical-align:middle;
	height:70px;
}

.form_table_td_input{
	width:0px;
	border:0px white solid;
}


#form_table_div{
    background-color:white; /*#66cdaa;*/
    /*border-radius:3px;
    border-style: ouset;*/
    border-color: white; /*#8fbc8f;*/
    /*color:white;
    box-shadow: 2px 2px #dc143c;*/
    background-image:url("show-btn.png");
    background-size: cover;
    height:40px;
    width:80px;
    background-repeat: no-repeat;
    color: transparent;
}

#form_table_div:hover{
	height:30px;
}

.label_par{
	line-height:0.0;
	font-size:small;
	color:#add8e6;
	}

#new_win{
	width:0px;
	height:0px;
	/*float:right;*/
	color:white;
	background-color:white;
	border-width:0px;
	/*
	border: 0px solid #d3d3d3;
	border-radius:3px;
	border-style: ouset;
	box-shadow: 2px 2px #dc143c;
	*/
}
/*
#new_win:hover{
	color:white;
	background-color:white;
}
*/
/*
#submit{
    background-color:#1e90ff;
    border-radius:3px;
    border-style: ouset;
    border-color: #8fbc8f;
    text-shadow: 1px 1px #191970;
    font-weight:400;
    letter-spacing:1px;
    color:white;
    box-shadow: 2px 2px #dc143c;
}

#submit:hover{
    color:red;
}

*/



.input_table{
    height:70px;
    /*width:100%;*/
    margin-right:auto;
    margin-left:auto;
}


input_table_td{
   /* height:50px;*/
}
.input_table_tr{
    height:70px;
}

#submit{
    background-color:white; /*#66cdaa;*/
    /*border-radius:3px;
    border-style: ouset;*/
    border-color: white; /*#8fbc8f;*/
    /*color:white;
    box-shadow: 2px 2px #dc143c;*/
    background-image:url("save-btn.png");
    background-size: cover;
    height:45px;
    width:90px;
    background-repeat: no-repeat;
    color: transparent;
}

#submit:hover{
     height:35px;

}


/*---------------------------------------------------*/
/*-------------------     keyboard  -----------------*/

#keyboard{
	border: outset #dcdcdc;
	width:654px;
	height:260px;
	/*padding:0px;*/
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	/*background-color:blue;*/
}


#keys{
	/*width:100%;*/
	list-style-type:none;
	/*margin-top:-50px;*/
}

#row_number{
	/*line-height:40px;*/
	padding-left:0px;
}

.key_row{
	display:block;
	float:left;
	width:654px;
	margin-left:-35px;
	/*height:36px;*/

}

.regular_key{
	width:40px;
	height:40px;
	border-style:outset;
	border-color:#f5f5f5;
	border-radius:5px;
	text-align:center;
	line-height:1.0;
	/*padding:0px 2px 0px 2px;*/
	/*display:block;*/
	float:left;
}

.escape_key{
	height:15px;
}

.tab_key{
	width:60px;
	border-style-bottom:none;
}


.Enter1_key{
	width:61px;
}

.caps_key{
	width:70px;
}

.Enter2_key{
	width:51px;
}


.Shift_key{
	width:82px;
}


.Ctrl_key{
	width:60px;
}

.space_key{
	width:170px;
}

.key_space{
	/*margin-left:0px;*/
	float:left;
	font-size:2px;
}
.key_letter{
	font-size:small;
}

.small_letter{
	font-size:6pt;
}



#Escape{
	;
}

#Backquote{
	;
}

#Digit1{
	;
}

#Digit2{
	;
}

#Digit3{
	;
}

#Digit4{
	;
}

#Digit5{
	;
}

#Digit6{
	;
}

#Digit7{
	;
}

#Digit8{
	;
}

#Digit9{
	;
}

#Digit0{
	;
}

#DigitMinus{
	;
}

#DigitCirc{
	;
}


#DigitYen{
	;
}


#BackSpace{
	;
}

#KeyTab{
	;
}

#KeyQ{
	;
}

#KeyW{
	;
}

#KeyE{
	;
}

#KeyR{
	;
}

#KeyT{
	;
}

#KeyY{
	;
}


#KeyU{
	;
}


#KeyI{
	;
}


#KeyO{
	;
}

#KeyP{
	;
}

#BracketLeft{
	;
}


#BracketRight{
	;
}

#EnterUp{
	;
}


#EnterDown{
	;
}


#CapsLock{
	;
}


#KeyA{
	;
}


#KeyS{
	;
}


#KeyD{
	;
}


#KeyF{
	;
}


#KeyG{
	;
}


#KeyH{
	;
}


#KeyJ{
	;
}

#KeyK{
	;
}

#KeyL{
	;
}


#Semicolon{
	;
}

#Quote{
	;
}

#Backslash{
	;
}

#ShiftLeft{
	;
}

#KeyZ{
	;
}


#KeyX{
	;
}


#KeyC{
	;
}


#KeyV{
	;
}


#KeyB{
	;
}


#KeyN{
	;
}


#KeyM{
	;
}

#Comma{
	;
}

#Period{
	;
}

#Slash{
	;
}

#IntlRo{
	;
}

#ShiftRight{
	;
}

#ControlLeft{
	;
}

#codeFN{
	;
}

#MetaLeft{
	;
}

#AltLeft{
	;
}

#NonConvert{
	;
}

#Space{
	;
}

#Convert{
	;
}

#KanaMode{
	;
}

#AltRight{
	;
}

#ContextMenu{
	;
}

#ControlRight{
	;
}