nav .navbar-brand
{
    /* size for brand */
    font-size: large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main #stock
{
    padding: 6px;
    width: 12.7em;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.my_nav_bar{ /*ナビゲーションバー，左の一部#f0ffff*/
    border:none;
    height:50px;
    margin-bottom:-20px;
    background-color:#b0c4de;
    /*box-shadow: 0px 0px 0px #f8f8ff;*/
    min-width:768px;
    overflow:hidden;

}

#navbar{/*ナビゲーションバー残りの部分#f0ffff*/
    border:none;
    background-color:#b0c4de;
    box-shadow: 0px 0px 0px #f8f8ff;

}


#my_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#my_logo{
    float:left;
}

#title_span{
    line-height:1.2em;
    /*font-size:12pt;*/
    /*height:30px;*/
    float:right;
    text-indent:1em;
    text-align:center;

}

#logo_img{/*タイトルバーの左端の画像*/
    height:50px;
    object-fit:contain;
    border-radius:5px;
}

.color1{/*appのタイトル*/
    color:#ffff00;
    font-weight:800;
    text-shadow: 1px 1px #FF0000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;
}
.color2{/*作成者*/
    color:#ff0000;
    font-weight:700;
    text-shadow: 1px 1px #ffff00;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing:1px;
}

.table_link{
    border:0px;
    border-collapse:collapse;
    padding:0px;
    text-align:center;
    margin-top:-8px;
    font-weight:700;
    font-size:x-small;
}

.table_tr, .table_td{
    border:0px;
    border-collapse:collapse;
    padding:0px;
}

#link1{
    /*font-size:small;*/
    color:#0000ff;
    /*text-shadow: 1px 1px #00ff7f;*/

}

#link1:hover{
    /*font-size:small;*/
    color:#ff0000;
}

#link2{
    /*font-size:small;*/
    color:#0000ff;
    /*text-shadow: 1px 1px #00ff7f;*/

}

#link2:hover{
    /*font-size:small;*/
    color:#ff0000;
}

#link3{
    /*font-size:small;*/
    color:#0000ff;
    /*text-shadow: 1px 1px #00ff7f;*/

}

#link3:hover{
    /*font-size:small;*/
    color:#ff0000;
}

#link4{
    /*font-size:small;*/
    color:#ff0000;
    /*text-shadow: 1px 1px #00ff7f;*/

}

#link4:hover{
    /*font-size:small;*/
    color:#0000ff;
}

#link5{
    /*font-size:small;*/
    color:#0000ff;
    /*text-shadow: 1px 1px #00ff7f;*/

}

#link5:hover{
    /*font-size:small;*/
    color:#ff0000;
}

#link6{
    /*font-size:normal;*/
    color:#0000ff;
    /*text-shadow: 1px 1px #00ff7f;*/

}

#link6:hover{
    /*font-size:normal;*/
    color:#ff0000;
}

.cat_img{
    height:20px;
    object-fit:contain;
    /*box-shadow: 1px 1px #00ff7f;*/

}

#weather_info{
    margin-left:auto;
    margin-right:auto;
    /*background-color:white;*/
}

.table_lin_center_td{
    font-size:4px;
}

.table_td_center{
  color:#0000cd;
  font-weight:600;
  /*text-shadow: 1px 0px #696969;*/
  font-size:xx-small;
}