{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

	<link href="/static/history.css" rel="stylesheet">


  <div id="history_wrapper">
	  <h6 class="h_6_1"> <img src="/static/cat11.png" class="cat_img"> Your Activity <img src="/static/cat11.png" class="cat_img"> </h6>
    <table class="table display_table">
      <thead id="table_thead">
        <tr class="table_row">
          <th scope="col">Action </th>
          <th scope="col">Last Update</th>
        </tr>
      </thead>
      <tbody>
    {% for user in user_info %}
      <tr>
        <td scope="row">{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
    <br>
  </div>
  	<br>
<!--  	{% if current_user == 1 %}
  <div id="history_div">
		<h class="h_6_2"> All Activities </h2>
    <br>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">User </th>
          <th scope="col">Action </th>
          <th scope="col">Last Update</th>
        </tr>
      </thead>
      <tbody>
    {% for all_user in all_info %}
      <tr>
        <th scope="row">{{ all_user[0] }}</th>
        <td>{{ all_user[1] }}</td>
        <td>{{ all_user[2] }}</td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
    <br>
  </div>
  	{% endif %}
-->
{% endblock %}
