{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

	<link href="/static/new_password.css" rel="stylesheet">

    <div id="new_password_wrapper">
    <br>
    <p class="h_6_1"><img src="/static/cat10.png" class="cat_img">  Change Password <img src="/static/cat10.png" class="cat_img"> </p><br>
    <form action="/Change_Password" method="post">
        <table id="table_up">
            <tr>
                <div class="form-group">
                    <td>
                        <span class="h_6_2">user ID: </span>
                    </td>
                    <td>
                        <input id='username' autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                    </td>
                </div>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr>
                <div class="form-group">
                    <td class="label_par">
                        <span class="h_6_2">current password: </span>
                    </td>
                    <td>
                     <input id='current_password' class="form-control" name="current_password" placeholder="current password" type="password">
                    </td>
                </div>
            </tr>
        </table>
        <table id="table_down">
            <tr>
                <div class="form-group">
                    <br><p class='error'>Must contain at least 8 characters, <br> (letters and numbers ONLY)</p>

                <td>
                   <span class="h_6_2">new password: </span>
                </td>
                <td>
                    <input id='new_password' class="form-control" name="new_password" placeholder="new password" type="password">
                </td>
                </div>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr>
            <div class="form-group">
                <td>
                    <span class="h_6_2">retype new password: </span>
                </td>
                <td>
                    <input id='new_password_again' class="form-control" name="new_password_again" placeholder="new password again" type="password">
                </td>
            </div>
            </tr>
        </table>
        <br>
        <table class="new_password_table">
			<tr class="new_password_table_tr">
				<td class="new_password_table_td">
                    <button class="btn btn-primary" type="submit" id="submit">change</button>
                </td>
            </tr>
        </table>
    </form>

    <script>
    // password validation, you can submit only if the pass is at least 8 characters and contains only alphanumeric characters
        document.querySelector('#submit').disabled = true;
        document.querySelector('#new_password').onkeyup = function() {
            let password = document.querySelector('#new_password').value;

            if (password.length > 7 && password.match(/^[0-9a-z]+$/i) && password.match(/\d/) && password.match(/[a-z]/i)){
                document.querySelector('#submit').disabled = false;
            }
            else {
                document.querySelector('#submit').disabled = true;
            }
        }
    </script>

    </div>
{% endblock %}

